%html

  %head

  %body
    %h1 Readme

    %h2 Introduction
    %p This repository provides a simple setup for build small web-apps in ruby


    %h2 Usage
    %p Start the sinatra project with <code>ruby app.rb</code>